@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';

@import "base/variables";
@import "base/mixins";
@import "base/animations";

@import "title.scss";
@import "btn.scss";

* {
  font-family: 'Play', sans-serif;
  margin: 0;
  padding: 0;
  color: $dark;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 6px;
  background-color: $light;
  margin: 25px auto 0 auto;
}

$middle: #9AB3C2;
$light: #DDE7ED;
$dark: #547489;
$bg: #F9FBFC;


@mixin sign {
  &:before {
    content: '<';
    margin: 0 10px;
  }
  &:after {
    content: '>';
    margin: 0 10px;
  }
}

@mixin before-circle {
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $light;

  }
}

@keyframes icon-hover {
  50% {
    transform: scale(.96);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {

  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

